.Notifications {
  border: 3px solid red;
  padding: 6px 12px;
}

.Notifications ul li[data-priority="default"] {
  color: blue;
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}

li[data-notification-type="default"] {
  color: blue;
}
li[data-notification-type="urgent"] {
  color: red;
}
